button {
    border: none;
    background-color: rgb(215, 138, 214);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgba(215, 138, 214, 0.567)
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #f76b8a
  }
  
  .equals:hover {
    background-color: #f76b89b3
  }